body {
	background-color: rgb(225, 225, 225);
	padding-top: 70px; 
}

h1 {
	font-size: 50px;
	text-align: center;
}

h3 {
	font-size: 30px;
	text-align: center;
}

img {
	height: 400px;
	width: 100%;
}

a {
	color: rgb(75, 75, 75);
	font-size: 20px;
	line-height: 2.5;
}

nav a {
	line-height: 1;
}

/*nav {
	background-color: green;
}*/