body {
	background-color: rgb(225, 225, 225);
}

h1 {
	font-size: 50px;
	text-align: center;
}

h3 {
	font-size: 30px;
	text-align: center;
}

img {
	height: 400px;
	width: 40%;
	margin: 0 30%;
}

nav {
	background-color: green;
}